.plus {
	background: #00a85a 0% 0% no-repeat padding-box;
	box-shadow: 0px 10px 10px #18a75d40;
	border-radius: 20px;
	opacity: 1;
	width: 40px;
	height: 40px;
}

.plus:hover {
	background-color: #257550;
}
